.text-float {
    padding: 16px;
    margin-top: -36px;

    .text {
        font-size: 24px; 
    }
}
.see-all {
    margin-top: 24px;
    &.mt-medium{
        margin-top: 24px;
    }
}
.rate {
    font-size: 14px;
}