.about-header-content {
    .header-banner {
        margin-top: 48px;
        .float-video {
            padding: 24px 16px;
            justify-content: center;
            margin-top: -58px;

            .right-section {
                .text {
                    font-size: 32px;
                }
            }

            .video-poster {
                display: none;
            }
        }
    }
}
.start-adventure {
    margin-top: 80px;

}