.about-header-content {
    .header-banner {
        margin-top: 32px;
        .float-video {
            padding: 24px;
            justify-content: center;
            margin-top: -30px;

            .right-section {
                .text {
                    font-size: 24px;
                }
            }

        }
    }
}
.start-adventure {
    margin-top: 48px;
    .description {
        margin-top: 20px;
    }
    .achivments {
        margin-top: 32px;
    }
}
.gallery {
    margin-top:80px;
    .section-header {
        margin-bottom:10px;
    }
}