.t-paragraph{
    color: #4E4E4E;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    line-height: 170%;/* 30.6px */
    
}
.t-title{
 color: #060606;
text-align: right;
@include secondFont;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 123%; /* 36.9px */
margin: 41px 0 6px 0;
}
.truncate-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    &.three-line{
      -webkit-line-clamp: 3;
    }
    &.four-line{
      -webkit-line-clamp: 4;
    }
  }
