.contact-us-header-content {
    .section-header {
        margin-top: 80px;
        margin-bottom: 16px;
    }

    .contact-us-card {
        padding: 0 20px;
       .card-row{
        .p-right{
            padding-right: 40px;
        }
        .column-reverse{
            // flex-direction: column-reverse;
            gap: 18px;
        }
       }
        .mapouter {
            max-width: 100%;
        }
    }

}

