body {
    &.courses-page {

        background-size: 100% 350px;
        overflow-x: hidden;

        &::after {
            height: 350px;
        }
    }
}

.courses-header-content {
    .search-courses {
        margin-top: 48px;
    }

}

.courses-grid {
    margin-top: 50px;

    .row {
        --bs-gutter-y: 32px;
    }

    .section-header {
        margin-bottom: 27px;
    }

    .pagination {
        margin-top: 32px;
    }
}