
.padcasts-filter-section{
    margin-top: 125px;

   .medium-g{
    --bs-gutter-x:37px;
    --bs-gutter-y:18px;
   }
    .section-header{
        margin-bottom: 41px;
        .filter-section{
            gap: 18px;
        }
    }

}
