.hamburger-menu {
  --color: var(--secondary);
  --color-icon: var(--secondary-60);
  --color-hover: var(--primary);
  --hm-px: 20px;
  --hm-py: 25px;
  --w: 340px;
  --hidden: calc(var(--w) * -1);
  --show: 0;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: var(--w);
  max-width: 85%;
  right: var(--hidden);
  top: 0;
  bottom: 0;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  z-index: 100000;
  padding: var(--hm-py) var(--hm-px) calc(var(--hm-py) * 5);
  margin: 0;
  border: none;
  border-radius: 0;
  gap: 8px;

  .ham-item {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background: var(--primary-tint-13);
    }
  }

  .hamburger-menu-header {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 10px 22px 16px;
    border-bottom: 1px solid var(--white-shade-2);
    margin-bottom: 22px;

  }

  &.show {
    right: var(--show);
    @include shadow;
  }




}