.progress{
  &-circle {
    &.responsive{
      width: 48px;
    }
  }
}
.workflow-states{
    > * {
        gap: var(--base-gutter);
        &.dropdown {
            i.first {
                font-size: 27px;
                top: -8px;
            }
        }
    }
}
