.comment {
    margin-top: 18px;

    .content {
        flex-grow: 1;

        .btn-reply-comment {
            font-size: 28px;
        }

        .header {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 12px;
            width: 100%;
            margin-bottom: 14px;

            .info {
                .icon {
                    color: var(--white-shade-10);
                }

                .title {
                    font-size: 16px;
                }

                .subtitle {
                    font-size: 12px;
                }
            }
        }
        .text{
            font-size: 16px;
        }
    }

}

.answer-wrapper {
    padding-right: 24px;
    margin-top: 16px;
}

.comment-form {
    margin-top: 8px;

    .answer-to {
        margin-bottom: 12px;

        .form-title {
            font-weight: 700;
            font-size: 18px;

        }

    }

    .row {
        --bs-gutter-y: 24px;

        .col-12 {
            &:last-child {
                margin-top: 52px;
            }
        }
    }

    .rating {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }
}