section.course-description {
    margin-top: 32px;

    .section-header {
        margin-bottom: 8px;
    }


}
section.services {
flex-direction:column;
    .simple-card {
        padding: 16px;
        &:first-child {
            width: 100%;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:last-child {
            width: 100%;
        }
    }
}
section.course-title {
    margin-top:80px;

}



section.course-teacher {
 .row{
    --bs-gutter-y:16px;
 }
}

