.category-nav {
    .categories {
        .category{
            font-size: 18px;
        }
    }
    &.statistics {
        padding-left: 16px;
        padding-right: 16px;
        height: fit-content;
        .categories {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 0px;
            .category {
                flex-direction: row;
                justify-content: start;
                gap: 8px;
                padding: 0;
                padding-left: 0;

                &:last-child{
                    padding-right: 0;
                }
            }

        }
    }
}