.category-nav {
    .categories {
        .category{
            font-size: 18px;
        }
    }
    &.statistics {
        padding-left: 16px;
        padding-right: 16px;
        height: fit-content;
        .categories {
            display: grid;
            grid-template-columns: auto ;
            grid-template-rows: auto auto auto;
            row-gap: 16px;
            margin-top: 0px;
            .category {
                flex-direction: row;
                justify-content: start;
                gap: 8px;
                padding: 0;
                padding-left: 0;

                &:last-child{
                    padding-right: 0;
                }
            }

        }
    }
}