.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    border-radius: var(--rounded-lg, 10px);
    background: #FFF;
    overflow: hidden;
    height: 100%;



    &.box-shadow {
        box-shadow: 15px 29px 50px 0px rgba(8, 97, 190, 0.05);
    }

    .guide {
        width: 100%;

        .thumbnail {
            width: 100%;
            position: relative;
            border-radius: var(--rounded-sm);
            overflow: hidden;
            padding-bottom: 56.25%;

            img,
            .info {
                width: 100%;
                position: absolute;
                inset: 0;
            }

            img {
                object-fit: cover;
                background-position: center;
                height: 100%;
            }

            .info {
                display: flex;
                align-items: end;
                justify-content: end;
                gap: 16px;
                color: var(--white, #FFF);
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                padding: 12px;

                &>* {
                    z-index: 1;
                }

                &.center-items {
                    align-items: center;
                    justify-content: center;
                }

                .icon {
                    color: var(--white);
                    font-size: 17px;
                }

                span,
                i {
                    z-index: 2;
                }

                &:after {
                    position: absolute;
                    inset: 0;
                    content: "";
                    background: linear-gradient(13deg, rgba(0, 0, 0, 0.80) -8.02%, rgba(0, 0, 0, 0.00) 76.35%);
                    opacity: .8;

                }

                &.no-gradient {
                    &:after {
                        position: absolute;
                        inset: 0;
                        content: "";
                        background: none;
                        opacity: 0;

                    }
                }

                &.blue-gradient {
                    background: linear-gradient(0deg, rgba(49, 146, 247, 0.68) 0%, rgba(49, 146, 247, 0.68) 100%);
                }

            }

            &.thumb-fit {
                padding-bottom: 0;
                width: 100%;

                img {
                    position: relative;
                    width: 100%;

                }

                &.thumb-sm {
                    width: 75px;
                    height: 73px;
                }

                &.thumb-xs {
                    width: 61px;
                    height: 65px;
                }
            }

            &.no-bottom-raduis {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 18px 30px;

        .title {
            width: 100%;
            color: var(--secondary, #2A354A);
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 123%;
            @include secondFont;

            &.xs {
                font-size: 14px;
                @include secondFont;
            }

            &.sm {
                font-size: 18px;
            }

            &.first-font {
                font-family: iransansxv;
            }

            &.lg {
                font-size: 40px;
                font-weight: 800;
            }

            &.md {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }

    >.footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 30px;
        padding: 0 15px;
        padding-bottom: 18px;
        width: 100%;
        height: 100%;

        .text {
            display: flex;
            align-items: center;
            gap: 2px;
            padding-right: 14px;
        }

        .title {
            color: var(--primary, #0861BE);
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 170%;
        }

        .subtitle {
            color: var(--secondary, #2A354A);
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%;
            font-family: iransansxv;
        }
    }

    &.card-row {
        display: block;
        border-radius: var(--rounded-sm, 5px);

        .row {
            --gutter-md: 42px;
        }

        .guide {
            .thumbnail {
                .info {
                    &.top-right {
                        justify-content: start;
                        align-items: start;
                        padding: 6px;
                    }

                    &.bottom-center {
                        justify-content: center;
                        padding: 14px;

                        .btn {
                            margin-bottom: 14px;
                        }

                    }

                }
            }
        }

        .content {
            justify-content: center;
            height: 100%;
            padding: 0;

            &.gap-xs {
                gap: 12px !important;
            }

            .title {
                text-align: start;
            }

            >.statistics {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 10px 0 18px 0;
            }

            .text {
                p.description {
                    color: #4E4E4E;
                    text-align: right;
                    font-family: iransansxv;
                    font-weight: 500;
                    line-height: 170%;

                    &.fade {
                        color: var(--white-shade-7, #B3B3B3);

                    }
                }

            }
        }
    }

    &.space {
        padding: 15px;
        gap: 13px;

        .row {
            --bs-gutter-x: 33px;
        }

        .content {
            padding: 8px 0px 8px 30px;
        }

        &-no-space {
            padding: 0;
            border-radius: var(--rounded-sm, 5px);

            .content {
                padding: 0;
                justify-content: center;
            }
        }

        &-sm {
            padding: 10px;
            align-items: center;
            gap: 17px;
            border-radius: var(--rounded-lg);

            .content {
                padding: 0;
                justify-content: center;

                >.title {
                    @include secondFont;
                }
            }
        }

        &-lg {
            padding: 30px
        }

        &-xl {
            gap: 40px;
            padding: 38px;

            .content {
                padding: 5px 17px 15px 30px;
            }
        }
    }

    &.card-float {
        overflow: visible;

        .guide {
            width: 50%;
            margin-top: -45px;
        }

        .content {
            padding: 5px 78px;

            .title {
                font-weight: 900;
            }
        }

        .footer {
            padding: 0;
            width: 100%;
        }
    }

    &.row-sm {
        flex-direction: row;
        gap: 14px;
        --gutter-md: 26px;

        .guide {
            width: fit-content;
        }

        .content {
            justify-content: center;
            align-items: start;

            .title {
                text-align: start;
            }
        }
    }

    &:not(.not-hover) {
        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, .15);

            .content {
                .title {
                    color: var(--primary-tint-6);
                }
            }
        }
    }

    &.not-shadow-hover {
        &:hover {
            box-shadow: none;

            .content {
                .title {
                    color: var(--primary-tint-6);
                }
            }
        }
    }

    &.br-xl {
        border-radius: var(--rounded-xl, 15px);
    }

    &.br-sm {
        border-radius: var(--rounded-sm, 5px);
    }

}

.card-list {
    border-radius: var(--rounded-sm, 5px);
    background: #FFF;
    box-shadow: 15px 29px 50px 0px rgba(8, 97, 190, 0.05);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 13px;
    height: 100%;

    >.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 6px;
        padding-top: 6px;

        >.title {
            color: var(--primary);
            text-align: center;
            font-family: iransansxv;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            /* 19.2px */
            letter-spacing: -0.48px;
        }
    }

    >.list-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 23px;
        height: 100%;
    }

    &.bg-none {
        background: transparent;
        box-shadow: none;
        padding: 0;

        >.list-content {
            gap: 14px;
        }

    }

}

.simple-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-sm, 5px);
    background: #FFF;
    width: 100%;
    gap: 8px;
    padding: 25px 38px;


    .icon-wrapper {
        text-align: center;
    }

    .text {
        color: var(--secondary, #2A354A);
        @include secondFont;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        width: 100%;
        text-align: center;
    }

    &.row-simple {
        flex-direction: row;
        border-radius: 0;
        border: 1px solid var(--white-shade-3, #E6E6E6);
        background: transparent;
        padding: 33px 48px;
        gap: 11px;
        width: 100%;
        height: 100%;

        .icon {
            font-size: 36px;
            color: var(--primary);
        }

        .text {
            color: var(--secondary, #2A354A);
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
        }
    }

    &.active {
        position: relative;

        &::before {
            content: '';
            display: flex;
            background: var(--primary-tint-6, #0977EA);
            position: absolute;
            inset: 4px;
        }

        >* {
            z-index: 1;
        }

        .text {
            color: var(--white, #FFF);
        }

        .icon {
            color: var(--white, #FFF);
        }
    }

    &.card-frame {
        padding: 4px;
        width: 100%;
        border: 1px solid var(--white-shade-3, #E6E6E6);
    }
}

.social-media-card {
    border-radius: var(--rounded-sm, 5px);
    background: var(--white, #FFF);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 36px 43px;
    margin-top: 28px;

    .title {
        color: var(--primary, #0861BE);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 19.2px */
    }

    .icons-wrapper {
        display: flex;
        gap: 11px;

        .icon {
            color: var(--white-shade-5);
            font-size: 24px;
        }
    }
}

.register-card {
    border-radius: var(--rounded-sm, 5px);
    background: #E4F1FF;
    display: flex;
    padding: 25px;

    .row {
        --bs-gutter-y: 16px;
    }

    .summary {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0 36px;
        height: 100%;

        .title {
            color: var(--secondary, #2A354A);
            @include secondFont;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 123%;
        }

        .subtitle {
            color: #4E4E4E;
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%;
            margin-top: 24px;
            margin-bottom: 16px;
        }

        .login-link {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%;
            position: relative;
            display: flex;

            span {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    background-color: #000;

                }
            }
        }
    }

    .actions {
        border-radius: var(--rounded-sm, 5px);
        background: var(--white, #FFF);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 35px;

        .title {
            color: var(--secondary, #2A354A);
            @include secondFont;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 123%;

        }

        ul.list {
            color: #4E4E4E;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%;
        }

        .btn {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
    }
}