.articles-card {
    margin-top: 32px;
    .card-row {
        .content {
            .title {
                margin-top: 12px;
            }

        }
    }
}
.last-articles{
    margin-top: 80px;
    .articles{
        >.row{
            --bs-gutter-y: 32px;
        }
    }
}