.w-lg-100 {
  width: 100% !important;
}
.w-lg-fit{
  width: fit-content !important;
}
.text-lg-start {
  text-align: left !important; }
.text-lg-end {
  text-align: right !important; }
.text-lg-center {
  text-align: center !important; }

