.w-sm-100 {
  width: 100% !important;
}
.w-sm-fit {
  width: fit-content !important;
}
.h-sm-fit{
  height: fit-content !important;
}
.text-sm-start {
  text-align: left !important; }
.text-sm-end {
  text-align: right !important; }
.text-sm-center {
  text-align: center !important; }