.w-xl-100 {
  width: 100% !important;
}
.w-xl-fit{
  width: fit-content !important;
}
.text-xl-start {
  text-align: left !important; }
.text-xl-end {
  text-align: right !important; }
.text-xl-center {
  text-align: center !important; }