//home page///

.videos-section {
    .section-header {
        justify-content: center;
    }

    .row {
        --bs-gutter-x: 22px;
    }

    .video-js-wrapper {
        border-radius: var(--rounded-lg, 10px);
        overflow: hidden;
    }
}

.padcasts-section {
    margin-top: 213px;

    .main-content {
        .padcast-swiper-container {
            // background: var(--base-bg);
            width: 100%;
            .padcast-swiper {
                overflow-x: hidden;
                padding-top: 35px;
                margin-left: -50px;
                position: relative;

                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 1;
                        transition: all 0.5s ease-in-out;
                        transform: scale(0.6);
                    }

                    .swiper-slide-active {
                        opacity: 1;
                        z-index: 10;
                        transform: scale(1);
                        // margin-top: -30px;
                        background: rgba(#FFF, 0.7);
                        // align-items: end;
                    }

                    .swiper-slide-prev,
                    .swiper-slide-next {
                        margin-bottom: -30px;
                    }

                    .swiper-button-next,
                    .swiper-button-prev {
                        display: none;
                    }

                }

                .button-prev {
                    font-size: 27px;
                    color: #8d9daf;
                    position: absolute;
                    top: 14px;
                    z-index: 100;
                    display: none;
                }

                .button-next {
                    font-size: 27px;
                    color: #8d9daf;
                    position: absolute;
                    top: 14px;
                    left: 0px;
                    z-index: 100;
                    display: none;

                    &.disable {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.articles-section {
    margin-top: 226px;
    .section-header {
        margin-bottom: 0;
    }
    .articles-swiper {
        margin-left: calc((var(--bs-width) - 100vw - 28px)* 0.5);
        overflow: hidden;
        .swiper-wrapper {
            padding: 40px 0;
        }
    }
}

.courses-section {
    margin-top: 202px;

    .section-header {
        margin-bottom: 0;
    }

    .courses-swiper {
        overflow: hidden;
        margin-left: calc((var(--bs-width) - 100vw - 28px)* 0.5);
        .swiper-wrapper {
            padding: 40px 0;
        }
    }
}