.padcasts-section {
    .main-content {
        .padcast-swiper-container {
            // overflow-x: hidden;
            .padcast-swiper {
                margin-left:-80px;
                margin-right:6px;
            }
        }
    }
}
.articles-section {
    .articles-swiper {
        margin-left: calc((var(--bs-width) - 100vw - 20px)* 0.5);
    }
}

.courses-section {
    .courses-swiper {
        margin-left: calc((var(--bs-width) - 100vw - 20px)* 0.5);
    }
}